@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*═══════════════════════*/
/*  Base styling*/

:root {
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --small: 14px;
    --green: #428d2a;
    --blue: #0000fe;
    --red: #d31919;
    --orange: #e78514;
    --cyan: #157fa4;
    --faddedCyan: #185063;
    --fadded: rgba(200, 200, 200, 0.7);
    --faddedBlack: rgba(0, 0, 0, 0.7);
}

html {
    --text: #faeff3;
    --text2: #000;
    --bg: #190009;
    --primary: #e3004f;
    --secondary: #5a3c60;
    --accent: #ec2269;
    --accent2: #260c1a;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 3em 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 2%;
    gap: 4em;
    width: auto !important;
    overflow: hidden;
    font-family: 'Arimo', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    background-image: url('images/photo-1699470672596-b2744968ad5c.jpg');
}

nav {
    width: 98vw;
    display: flex;
    flex-basis: 0;
    justify-content: space-between;
    padding-top: 6px;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

a {
    text-decoration: none;
    color: var(--text);
}

p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: var(--h1);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

h2 {
    font-size: var(--h2);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
    font-family: 'Arimo', sans-serif;
}

.show {
    display: flex !important;
}

.hide {
    display: none !important;
}

.not-available {
    background-color: var(--faddedCyan) !important;
    pointer-events: none;
}

.small {
    width: 170px;
}

/*═══════════════════════*/
/*  nav styling*/
.nav-button {
    width: 10%;
    margin: 0.3%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--fadded);
    color: var(--text);
    padding-bottom: 4px;
}

#side-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2em;
    left: 0;
    padding-left: 1.5%;
    z-index: 2;
}

/*═══════════════════════*/
/*  Print popup styling*/

.header {
	border: 1px solid black;
	background-color: gray;
    font-size: 10px;
    text-align: center;
}

.blank {
	height: 100%;
	width: 100%;
	background-color: gray;
}

.table {
	display: inline-grid;
    grid-template-columns: 1fr 1fr;
	width: 450px;
	border: 1px solid black;
	height: 700px;
    color: black;
}

.table-part {
	width: 100%;
	height: 100px;
	border: 1px solid black;
    overflow: hidden;
}

.rows6 {
	height: 600px;
}

.rows3 {
	height: 300px;
}

.print {
    display: none !important;
}

.generated-text{
    font-size: 10px;
    padding-left: 2px;
}

#print-popup {
    display: none;
    justify-content: space-between;
    z-index: 10;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*═══════════════════════*/
/*  Popup styling*/
#popup {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#ikke-valgt {
    background-color: var(--red);
}

#sover-andet-varelse {
    background-color: var(--blue);
}

#sover-eget-vaerelse {
    background-color: var(--green);
}

.blur-bg {
    background-color: var(--faddedBlack);
}

.popup-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text);
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.popup-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup-button {
    margin: 6px;
    background-color: var(--cyan);
    padding: 3px;
    height: 32px;
    width: 110px;
    color: var(--text);
    border-radius: 12px;
    border: none;
}

.alt {
    width: 44px;
}

.popup-button:active {
    transform: scale(0.95);
}

.top-text {
    line-height: 0;
}

.popup-buttons {
    display: flex;
    flex-direction: row;
}

.alt-name-text {
    color: var(--text2);
    line-height: 0;
}

.x-icon {
    transform: rotate(45deg);
}

.x-icon:active {
    transform: scale(0.95);
}

#buttons-stage-2 {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 12px;
}

#buttons-stage-3 {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#replaceableTextHeader {
    color: var(--text2);
    line-height: 1;
    margin: 0 auto;
    padding-right: 24px;
}

#header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 6px;
    margin: 16px 0 16px 0;
}

.selector {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
}

/*═══════════════════════*/
/*  Profile styling*/
.image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    justify-self: center;
    scroll-snap-align: start;
}

.room-overlay {
    display: none;
    position: absolute;
    width: 55px;
    height: 35px;
    border-radius: 6px;
    margin-left: 90px;
}

.overlay-text {
    font-size: 11px;
    line-height: 0;
    width: 100%;
    text-align: center;
    padding: 1px 0 1px 0;
}

.image-container.Eget > .room-overlay {
    display: inline;
    background-color: var(--green);
}

.image-container.Andet > .room-overlay {
    display: inline;
    background-color: var(--blue);
}

.name-text {
    font-size: 12px;
    line-height: 0;
    white-space: nowrap;
}

/*═══════════════════════*/
/*  Alert*/
#top-alert {
    display: flex;
    position: fixed;
    width: 300px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 12px;
    top: 0;
    z-index: 1;
    transition: 0.3s;
    overflow: hidden;
    -webkit-mask:
        linear-gradient(#fff,#fff) top   / 100% 0,
        linear-gradient(#fff,#fff) bottom/ 100% 2px,
        linear-gradient(#fff,#fff) left  / 2px 100%,
        linear-gradient(#fff,#fff) right / 2px 100%;
    -webkit-mask-repeat:no-repeat;
    mask:
        linear-gradient(#fff,#fff) top   / 100% 0,
        linear-gradient(#fff,#fff) bottom/ 100% 2px,
        linear-gradient(#fff,#fff) left  / 2px 100%,
        linear-gradient(#fff,#fff) right / 2px 100%;
    mask-repeat:no-repeat;
}

.alert-bg {
    width: 296px;
    height: 43px;
    display: flex;
    position: fixed;
    background-color: var(--faddedBlack);
    border-radius: 0 0 12px 12px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    overflow: hidden;
    top: 0;
}

.alert-container {
    display: flex;
    position: fixed;
    width: 300px;
    height: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 12px;
    top: 0;
    z-index: 1;
    transition: 0.3s;
    overflow: hidden;
}

.top-alert .overlay {
    position: absolute;
    top: 0;
    height: 43px;
    width: 296px;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    border-radius: 0 0 12px 12px;
}
  
.top-alert::before {
    content: "";
    position: absolute;
    height: 350px;
    width: 350px;
    top: -200px;
    background-image: conic-gradient(transparent, transparent, transparent, #fff);
    z-index: 2;
}

.top-alert.active::before {
    animation: rotate 2.4s linear infinite;
}
  
@keyframes rotate {
    0% {
      transform: rotate(60deg);
    }
    100% {
      transform: rotate(420deg);
    }
  }  

.alert-text {
    line-height: 0;
    z-index: 1;
}

/*═══════════════════════*/
/*  Laptop & other styling*/
@media only screen and (min-width: 1025px) {

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    scroll-behavior: smooth;
    background-size: cover;
}

.full-container {
    display: grid;
    margin-left: 15%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    position: relative;
    height: 80vh;
    column-gap: 4%;
    row-gap: 100px;
    width: 85%;
    overflow-y: scroll;
    overflow-x: clip;
    margin-bottom: 6%;
    scroll-snap-type: y proximity;
}

.popup-container {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 250px;
}

#text {
    padding-left: 20px;
}

.selector-text {
    line-height: 0;
    font-size: 12px;
    z-index: 1;
}

.large-number {
    line-height: 0;
    font-size: 28px;
    z-index: 1;
}

}

/*═══════════════════════*/
/*  Ipad styling*/
@media only screen and (max-width: 1025px) {

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    scroll-behavior: smooth;
}

#text {
    padding-left: 20px;
}

.full-container {
    display: grid;
    margin-left: 15%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    position: relative;
    height: 80vh;
    column-gap: 4%;
    row-gap: 100px;
    width: 85%;
    overflow-y: scroll;
    overflow-x: clip;
    margin-bottom: 6%;
    scroll-snap-type: y proximity;
}

.selector-text {
    line-height: 0;
    font-size: 12px;
    z-index: 1;
}

.large-number {
    line-height: 0;
    font-size: 28px;
    z-index: 1;
}

.popup-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 250px;
}

}