:root {
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --small: 14px;
}

html {
    --text: #fedce8;
    --bg: #190009;
    --primary: #e3004f;
    --secondary: #5a3c60;
    --accent: #ec2269;
    --accent2: #260c1a;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 3em 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 15%;
    gap: 4em;
    width: auto !important;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    scroll-behavior: smooth;
}

nav {
    display: flex;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

a {
    text-decoration: none;
    color: var(--text);
}

p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}

h1 {
    font-size: var(--h1);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: var(--h2);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

#text {
    padding-left: 20px;
}

.nav-button {
    color: var(--bg);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 4em;
}

#container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 4em;
}

.full-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 4em;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}