:root {
    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --small: 14px;
    --green: #428d2a;
    --blue: #0000fe;
    --red: #d31919;
    --orange: #e78514;
}

html {
    --text: #fedce8;
    --bg: #190009;
    --primary: #e3004f;
    --secondary: #5a3c60;
    --accent: #ec2269;
    --accent2: #260c1a;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 3em 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 10%;
    gap: 4em;
    width: auto !important;
    font-family: 'Inter', sans-serif;
    color: var(--text);
    background-color: var(--bg);
    background-image: url('images/photo-1543837173-6c26bc89937b.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    scroll-behavior: smooth;
}

nav {
    width: 90vw;
    display: flex;
    flex-basis: 0;
    justify-content: space-between;
    padding-top: 6px;
}

* {
    box-sizing: border-box;
    scroll-padding-top: 3em;
}

a {
    text-decoration: none;
    color: var(--text);
}

p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 150%;
}

h1 {
    font-size: var(--h1);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: var(--h2);
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
}

#text {
    padding-left: 20px;
}

.nav-button {
    color: var(--bg);
    flex-grow: 1;
    margin: 0.3%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.7);
    color: var(--text);
}

.full-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100vh;
    gap: 4em;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
}

.image, .image-list {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#side-nav {
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
}

#ikke-valgt {
    background-color: var(--red);
}

#sover-andet-varelse {
    background-color: var(--blue);
}

#sover-eget-vaerelse {
    background-color: var(--green);
}

.selector-text {
    line-height: 0;
    font-size: 12px;
    z-index: 1;
}

.large-number {
    line-height: 0;
    font-size: 28px;
    z-index: 1;
}